.editor-wrapper {
    display: none;
    position: fixed;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 35%;
    left: 30%;
    width: 400px;
    height: 200px;
    background-color: #2a2a28;
}

#textEditData {
    width: 200px;
    height: 100px;
}

.openEditor {
    display: flex;
}
