.message-list {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-top: 87px;
    margin-bottom: 117px;
    height: auto;
    background-color: #404045;
}

